/* Cores: #6041ac #c2cdff #ffffff #7e4cb1 #a6b5ff */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

.barra_navegacao {
    display: flex;
    justify-content: space-between;
    background-color: #c2cdff;
}

.barra_navegacao_caixa1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5%;
}
.barra_navegacao_caixa1 > a {
    color: #6041ac;
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: none;
    position: relative;
}

.barra_navegacao_caixa1 > a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #6041ac;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.barra_navegacao_caixa1 > a:hover::after {
    transform: scaleX(1);
}


.barra_navegacao_caixa2 {
    display: flex;
    align-items: center;
    padding-right: 15%;
}

.barra_navegacao_caixa2 > a {
    color: #6041ac;
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: none;
    position: relative;
}

.barra_navegacao_caixa2 > a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #6041ac;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.barra_navegacao_caixa2 > a:hover::after {
    transform: scaleX(1);
}

.titulo h2 {
    text-align: center;
    margin-top: 10%;
    font-size: 2rem;
    color: #643ac5;
    font-weight: 900;
}

.servicos h2 {
    margin-top: 5%;
    padding: 2rem;
    text-align: center;
}

.servicos_disponiveis {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    margin: 2rem auto;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    width: 300px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.315);
}

.card h3 {
    color: #6141ac;
}

.contatos h2,
p {
    text-align: center;
}

footer {
    background-color: #6141ac;
    color: white;
    text-align: center;
    padding: 1em;
}

#btnTopo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px;
  font-size: 20px;
  background-color: #6041ac;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  transition: opacity 0.3s ease;
  z-index: 1001;
}

#btnTopo:hover {
  background-color: #7e4cb1;
}

